/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography"; /* inc lists */
@import "compass/utilities"; /* inc clearfix */
  
/* reserved */
@include establish-baseline;

/* variables */
$bg-dark-marine:#0F1128;
$color-lightest:white;
$color-salad:#5FB00D;
$color-salad-border:#4C8F09;
$color-salad-shadow:#71B929;
$max-width:920px;
$middle-width:780px;
$mob-offset:30px;


/* mixins, Baby! */
@mixin bg_sky($alignment:center){
	background: url(../images/landing-photo.jpg) no-repeat $alignment;
	@include background-size(100% 100%);
}	
/* classic, yep */
@mixin clrfx{
	@include clearfix;
	&:after{
		content:"";
	}
	clear:both;
	display:block;
}
/* Основной тёмно-синий фон (нижняя часть страницы. Меню (немного отличается(?))) */
@mixin bgColor($bgcolor:$bg-dark-marine){
	background-color: $bgcolor; 
}
/* Стандартная зелёная "кнопка "*/
@mixin green-button($margin-top,$padding:12px,$width:auto){
	@include bgColor($color-salad);
	@include border-radius(5px);
	border: solid 1px $color-salad-border;
	box-shadow: 1px 1px 3px 0 #666; 
	color: $color-lightest;
	display: block;
	margin-top: $margin-top;
	padding: $padding;
	text-align: center;
	text-decoration: none;
	width: $width;	
	&:hover{
		@include background-image(linear-gradient(#5FB00D, #69C30E));
	}
}							
/* Спрайт. ...если нужен, конечно. */
@mixin pic{
	background: url(../images/pic.png) no-repeat top left;
}
/* добавить отступы в мобильном режиме */
@mixin mobile-offset($top:0,$right:$mob-offset,$bottom:0,$left:$mob-offset){
	@include box-sizing(border-box);
	padding: $top $right $bottom $left !important;
}
/*	common classes */
.client-face-1{ background-position: 0 0; width: 90px; height: 90px; } 
.client-face-2{ background-position: 0 -94px; width: 90px; height: 90px; } 
.client-face-3{ background-position: 0 -188px; width: 90px; height: 90px; } 
.how-it-works{ background-position: 0 -397px; width: 453px; height: 193px; } 
.cards{ 
	@include pic;
	background-position: 0 -624px; width: 181px; height: 32px; 
}
.lo-1{ background-position: 0 -689px; width: 186px; height: 107px; } 
.lo-2{ background-position: 0 -800px; width: 186px; height: 107px; } 
.lo-3{ background-position: 0 -911px; width: 186px; height: 107px; } 
.lo-4{ background-position: 0 -1022px; width: 186px; height: 107px; } 
.lo-5{ background-position: 0 -1133px; width: 186px; height: 106px; } 
.lo-6{ background-position: 0 -1243px; width: 186px; height: 107px; } 
.lo-7{ background-position: 0 -1354px; width: 236px; height: 116px; } 

.clearfix{
	@include clrfx;
}
.corner{
	@include rotate(45deg);
}
.pointer_down{
	background: url(../images/icon-down.png) no-repeat;
	height: 26px;
	margin: 14px auto !important;
	width: 26px;
}

/* redefine tags */
b, strong{
	font-weight: bold;
}
em{
	font-style: italic;
}

html,body{
	height: 100%;
}

body{
	background-size: cover;
	*{
		@include box-sizing(border-box);
		font-family: Lato, sans-serif;
	}
}

section{
	@include float(left);
	#stuff &{
		width: 50%;
	}
}
.header2{
	font-size: 2.5em;
	font-weight: bold;
	line-height: 3em;
}
.middle{
	margin: auto;
	max-width: $middle-width;
}	
.wide{
	margin: auto;
	max-width: $max-width;
}	
/*	Дочерний для <body>, чтобы позиционировать относительно него */ 

#content{ 
	background-color:$bg-dark-marine;
	min-height: 100%;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 2;
	&>div{
		&:last-child{
			&.wide{
				color: $color-lightest;
				padding-bottom: 80px;					
				section{
					color:$color-lightest;
					font-size: 1.1875em;
					width:33.33%;
					h4{
						font-size: 33px;
						font-weight: bold;
						margin: 35px auto 36px;
					}
					.cards{
						margin-top:24px; 
					}
					form{
						@include float(right);
						padding: 0 2px;
						button{
							@include green-button(4px);
							font-size: 16px;
							width: 94px;
						}
						input[type="text"]{
							@include border-radius(4px);
							font-size: 17px;
							padding: 10px;
							width: 100%;
						}
					}
				}
				#bottom_logo{
					display: block;
					clear: both;
					font-size: 1.75em;
					letter-spacing:2.5px;
					padding-top: 66px;
					text-transform: uppercase;
				}
				menu{
					@include clrfx;
					margin-right: 7px;	
					margin-top: 19px;					
					ul{ 
						@include horizontal-list(7px, right);
						@include delimited-list(" | ");
						@include clrfx;
						margin: 21px auto 12px;
						li{
							@include float(left);
							font-size: 1.375em;
							font-weight: 100;
							line-height: 17px;
							margin: auto 4px auto 4px;
							&:first-child{
								margin-left: -2px;
							}
							a{
								color: $color-lightest;
								font-size: 0.9375em;
								font-weight: 100;
								margin-right: 4px;
								opacity: 0.8;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	.clearfix{
		text-align: center;		
		p{
			&.middle{
				color: $color-lightest;
				margin-bottom: 10px;
				margin-top: 13px;
				text-align: left;
			}
		}
		a{	
			@include green-button(18px,12px 40px);
			@include inline-block;							
		}
	}
}
/* внутри #content: */
	#stuff{	
		color: $color-lightest; 
		padding: 80px 0;
		h2{
			&.header2{
				margin-bottom: -18px;
				margin-top: -36px;
				&+p{
					margin-bottom: 5px;
				}
			}
		}	
		section{
			padding-right: 10px;
			width: 50%;
			.header2{
				font-size: 1.625em;
				padding-bottom: 10px;
			}
			ul{
				margin-top: -19px;
			}
		}
	}
/*---------------------------------------*/		
#top{
	min-height: 100%;
	position:fixed; 		
	width:100%; 
	z-index: 1;
	header{
		#top_middle{
			margin: 3px auto -33px;
		}
		nav{
			@include bgColor;
			@include clearfix;
			#logo{
				background: url(../images/logo.png) no-repeat top left;
				@include float(left);
				height:20px;
				margin: 19px auto 12px;
				width: 203px;
				a{
					visibility: hidden;
				}
			}
			#mobile_search{
				display:none;
				clear: both;
				box-sizing: border-box !important;
				padding-bottom: 10px;
				input[type="text"]{
					border:solid 1px #eaeaea;
					border-radius: 6px;
					box-sizing: border-box !important;
					height: 44px;
					padding: 10px;
					width:100%;
				}
			}
			menu{
				@include float(right);
				margin-right: 7px;
				ul{ 
					@include horizontal-list(7px, right);
					margin: 21px auto 12px;
					li{
						line-height: 17px;
						padding: 0;
						margin: auto 11.5px;
						a{
							color: $color-lightest;
							font-size: 0.91em;
							opacity: 0.8;
							text-decoration: none;
							&:hover{
								opacity:1;
							}
						}
					}
				}
			}
		}		
	}
	main{
		section{
			margin-top: 18px;
			&#guarantee-badge{ 
				@include float(right);
				margin: 19px 2px;
				width: 195px;
				.pseudolink{
					@include pic;
					background-position: 0 -282px; 
					height: 112px;
					margin: 10px auto;
					width: 140px;
				}
				a{
					&:last-child{
						@include green-button(18px,12px,100%);
					}							
				}
			} 
			&#advokats{
				@include clrfx;
				margin-top: 10px;
				width: 100%;
				div{
					&#adv{
						@include float(left);
						width: 100px;								
						img{
							&:first-child{
								margin-left: 5px;
								@include float(left);
							}
						}		
						p{
							line-height: 20px;
							opacity: 0.8;
							text-align: center;									
						}
					}						
					&#dossier{
						@include border-radius(4px);
						@include float(right);
						background-color: white;
						max-width:641px;
						padding: 20px;
						position: relative;
						.crn_wrapper{
							height: 20px;
							left: -20px;
							position: absolute;
							top: 20px;
							width: 20px;
							overflow: hidden;
							.corner{										
								background: white;
								height: 24px;
								width: 24px;
								margin-top: -12px;
								margin-left: 8px;
							}
						}								
					}
					&#slides_indicators{
						@include clrfx;
						//@include clearfix;
						padding: 12px 17.5px;
						div{
							background-color: #FFF;
							@include border-radius(2px);
							@include float(left);
							height: 15px;
							margin-right: 10px;
							width: 15px;
							&.active{
								@include bgColor;
							}
						}
					}
				}
			}
		}
	}
	#scroll_down{
		bottom: 10px;
		position: absolute;
		text-align: center;
		width: 100%;
		div{
			font-size: 1.5em;
			font-weight: bold;
			margin: auto;
		}
		&:hover{
			cursor: pointer;
		}
	}		
}
#bg_container{
	@include clrfx;	
	@include bg_sky();
	min-height: 100%;
	width: 100%;
	z-index: -1;				
	}
ul{	
	&#ok_left{
		margin-top: -5px;
	}
	&[class^="icon-"]{ 
		li{
			font-size: 1.125em;
			font-weight: bold;
			line-height: 28px;
			margin: 12px auto;
			span{
				&:first-child{
					@include pic;
					height: 32px;
					@include inline-block;
					margin-top: -3px;
					width: 36px;					
				}
			}				
		}
	} 
	&.icon-ok{
		li{
			span[ok]{
				background-position: 0 -592px;					
			}
		}
	}
	&.icon-x{				
		li{
			span[x]{
				background-position: 0 -657px;
			}
		}
	} 		
}	

/* media queries */
/* tablet */
@media (max-width:800px){
	#mobile_search{
		display:block !important;
	}
	#menu_top {
		display:none;
	}
	nav{
		@include mobile-offset(0,12px,0,12px);
	}
	#top_header_box,
	main,
	#stuff,
	#txt_placeholder{
		@include mobile-offset();
	}
	#top{
		position: inherit;
		@include bg_sky(left);
	}
	#stuff{
		padding-bottom: 80px !important;
		&>h2.header2{
			font-size: 2.75em;
			margin-top: 52px !important;
		}
		section{
			margin-top: -42px;
			font-size: 1.125em;
			h2{
				margin-top: 52px !important;	
			}
		}
	}
	#top_middle{
		line-height: 1.3em !important;
		font-size: 40px !important;
		margin-bottom: 0px !important;
		margin-top: 0.5em !important;
	}
	#guarantee-badge {
		display: block !important;
		clear: both !important;
		width: 100% !important;
	}
	#advokats{
		min-height: 230px;
		position: relative;
	}
	#dossier{
		.crn_wrapper{
			display: none;
		}
	}
	#adv{
		z-index: 1;
		position: absolute;
		right: 44px;
		top: 98px;
	}
	#scroll_down{
		display: none;
	}
	#backward{
		/* т.к. оступ сверху трогать не надо в данном случае */
		padding-left: $mob-offset;
		padding-right: $mob-offset;
		section{
			width: 100% !important;
			&#feedback{
				h4{
					text-align:left !important;
				}
				form{
					float:none !important;
				}
			}
		}
	}
	ul.icon-x{
		span{
			background-position: 0 -656px !important;
		}
	}
}		
/* phone */
@media (max-width:480px){
	#stuff{
		h2.header2{
			font-size: 1.875em;
		}
		section{
			width: 100% !important;
			h2.header2{
				font-size: 1.375em;
			}	
		}
	}
	#bottom_logo{
		padding-top: 0 !important;
	}
}		