/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* inc lists */
/* inc clearfix */
/**/
/* line 61, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 39, ../sass/screen.scss */
.client-face-1 {
  background-position: 0 0;
  width: 90px;
  height: 90px;
}

/* line 40, ../sass/screen.scss */
.client-face-2 {
  background-position: 0 -94px;
  width: 90px;
  height: 90px;
}

/* line 41, ../sass/screen.scss */
.client-face-3 {
  background-position: 0 -188px;
  width: 90px;
  height: 90px;
}

/* line 42, ../sass/screen.scss */
.how-it-works {
  background-position: 0 -397px;
  width: 453px;
  height: 193px;
}

/* line 43, ../sass/screen.scss */
.icon-payment-types {
  background-position: 0 -624px;
  width: 181px;
  height: 32px;
}

/* line 44, ../sass/screen.scss */
.lo-1 {
  background-position: 0 -689px;
  width: 186px;
  height: 107px;
}

/* line 45, ../sass/screen.scss */
.lo-2 {
  background-position: 0 -800px;
  width: 186px;
  height: 107px;
}

/* line 46, ../sass/screen.scss */
.lo-3 {
  background-position: 0 -911px;
  width: 186px;
  height: 107px;
}

/* line 47, ../sass/screen.scss */
.lo-4 {
  background-position: 0 -1022px;
  width: 186px;
  height: 107px;
}

/* line 48, ../sass/screen.scss */
.lo-5 {
  background-position: 0 -1133px;
  width: 186px;
  height: 106px;
}

/* line 49, ../sass/screen.scss */
.lo-6 {
  background-position: 0 -1243px;
  width: 186px;
  height: 107px;
}

/* line 50, ../sass/screen.scss */
.lo-7 {
  background-position: 0 -1354px;
  width: 236px;
  height: 116px;
}

/* line 52, ../sass/screen.scss */
.corner {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 56, ../sass/screen.scss */
b {
  font-weight: bold;
}

/* line 60, ../sass/screen.scss */
body {
  background-size: cover;
}
/* line 62, ../sass/screen.scss */
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Lato, "Times New Roman";
}
/* line 66, ../sass/screen.scss */
body .header2 {
  font-size: 2.5em;
  font-weight: bold;
}
/* line 70, ../sass/screen.scss */
body .middle {
  margin: auto;
  max-width: 780px;
}
/* line 74, ../sass/screen.scss */
body .wide {
  margin: auto;
  max-width: 920px;
}
/* line 79, ../sass/screen.scss */
body #container {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
}
/* line 25, ../sass/screen.scss */
body #container:after {
  content: "";
}
/* line 82, ../sass/screen.scss */
body #container #top {
  background: url(../images/landing-photo.jpg) no-repeat center;
  min-height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}
/* line 89, ../sass/screen.scss */
body #container #top header #top_middle {
  margin: 51px auto 14px;
}
/* line 92, ../sass/screen.scss */
body #container #top header nav {
  background-color: #0f1128;
  overflow: hidden;
  *zoom: 1;
}
/* line 95, ../sass/screen.scss */
body #container #top header nav #logo {
  background: url(../images/logo.png) no-repeat top left;
  display: inline;
  float: left;
  height: 20px;
  margin: 19px auto 12px;
  width: 203px;
}
/* line 101, ../sass/screen.scss */
body #container #top header nav #logo a {
  visibility: hidden;
}
/* line 105, ../sass/screen.scss */
body #container #top header nav menu {
  display: inline;
  float: right;
  margin-right: 7px;
}
/* line 108, ../sass/screen.scss */
body #container #top header nav menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 21px auto 12px;
}
/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #container #top header nav menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: right;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 48, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #container #top header nav menu ul li:first-child, body #container #top header nav menu ul li.first {
  padding-right: 0;
}
/* line 49, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #container #top header nav menu ul li:last-child {
  padding-left: 0;
}
/* line 50, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #container #top header nav menu ul li.last {
  padding-left: 0;
}
/* line 111, ../sass/screen.scss */
body #container #top header nav menu ul li {
  line-height: 17px;
  padding: 0;
  margin: auto 11.5px;
}
/* line 115, ../sass/screen.scss */
body #container #top header nav menu ul li a {
  color: white;
  font-size: 0.9375em;
  opacity: 0.8;
  text-decoration: none;
}
/* line 127, ../sass/screen.scss */
body #container #top main section {
  display: inline;
  float: left;
  margin-top: 18px;
}
/* line 130, ../sass/screen.scss */
body #container #top main section#guarantee-badge {
  display: inline;
  float: right;
  margin: 19px 2px;
  width: 195px;
}
/* line 134, ../sass/screen.scss */
body #container #top main section#guarantee-badge .pseudolink {
  background: url(../images/pic.png) no-repeat top left;
  background-position: -12px -282px;
  height: 112px;
  margin: 10px auto;
  width: 112px;
}
/* line 142, ../sass/screen.scss */
body #container #top main section#guarantee-badge a:last-child {
  background-color: #5fb00d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #4c8f09;
  box-shadow: 1px 1px 3px 0 #666;
  color: white;
  display: block;
  margin-top: 18px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* line 154, ../sass/screen.scss */
body #container #top main section#guarantee-badge a:last-child:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5fb00d), color-stop(100%, #69c30e));
  background-image: -webkit-linear-gradient(#5fb00d, #69c30e);
  background-image: -moz-linear-gradient(#5fb00d, #69c30e);
  background-image: -o-linear-gradient(#5fb00d, #69c30e);
  background-image: linear-gradient(#5fb00d, #69c30e);
}
/* line 160, ../sass/screen.scss */
body #container #top main section#advokats {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
  margin-top: 10px;
  width: 100%;
}
/* line 25, ../sass/screen.scss */
body #container #top main section#advokats:after {
  content: "";
}
/* line 166, ../sass/screen.scss */
body #container #top main section#advokats div#adv {
  display: inline;
  float: left;
  width: 100px;
}
/* line 170, ../sass/screen.scss */
body #container #top main section#advokats div#adv img:first-child {
  margin-left: 5px;
  display: inline;
  float: left;
}
/* line 175, ../sass/screen.scss */
body #container #top main section#advokats div#adv p {
  line-height: 20px;
  opacity: 0.8;
  text-align: center;
}
/* line 181, ../sass/screen.scss */
body #container #top main section#advokats div#dossier {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline;
  float: right;
  background-color: #FF0;
  max-width: 641px;
  padding: 20px;
  position: relative;
}
/* line 188, ../sass/screen.scss */
body #container #top main section#advokats div#dossier .crn_wrapper {
  height: 20px;
  left: -20px;
  position: absolute;
  top: 20px;
  width: 20px;
  overflow: hidden;
}
/* line 195, ../sass/screen.scss */
body #container #top main section#advokats div#dossier .crn_wrapper .corner {
  background: #FF0;
  height: 24px;
  width: 24px;
  margin-top: -12px;
  margin-left: 8px;
}
/* line 204, ../sass/screen.scss */
body #container #top main section#advokats div#slides_indicators {
  clear: both;
  display: block;
  overflow: hidden;
  *zoom: 1;
  padding: 12px 17.5px;
}
/* line 25, ../sass/screen.scss */
body #container #top main section#advokats div#slides_indicators:after {
  content: "";
}
/* line 208, ../sass/screen.scss */
body #container #top main section#advokats div#slides_indicators div {
  background-color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline;
  float: left;
  height: 15px;
  margin-right: 10px;
  width: 15px;
}
/* line 215, ../sass/screen.scss */
body #container #top main section#advokats div#slides_indicators div.active {
  background-color: #0f1128;
}
/* line 224, ../sass/screen.scss */
body #container #top main ul#ok_left {
  margin-top: -5px;
}
/* line 228, ../sass/screen.scss */
body #container #top main ul[class^="icon-"] li {
  background: url(../images/pic.png) no-repeat top left;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 30px;
  margin: 12px auto;
  padding-left: 37px;
}
/* line 238, ../sass/screen.scss */
body #container #top main ul.icon-ok li {
  background-position: 0 -592px;
}
/* line 243, ../sass/screen.scss */
body #container #top main ul.icon-x li {
  background-position: 0 -660px;
}
/* line 252, ../sass/screen.scss */
body #container #content {
  background-color: #0f1128;
  min-height: 100%;
  position: absolute;
  top: 100%;
  width: 100%;
}
/* line 258, ../sass/screen.scss */
body #container #content #stuff {
  color: white;
  padding: 80px 0;
}
/* line 262, ../sass/screen.scss */
body #container #content #stuff h2.header2 {
  margin-bottom: 20px;
}
/* line 264, ../sass/screen.scss */
body #container #content #stuff h2.header2 + p {
  margin: 30px auto;
}
