/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* inc lists */
/* inc clearfix */
/**/
/* line 61, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 34, ../sass/screen.scss */
.client-face-1 {
  background-position: 0 0;
  width: 90px;
  height: 90px;
}

/* line 35, ../sass/screen.scss */
.client-face-2 {
  background-position: 0 -94px;
  width: 90px;
  height: 90px;
}

/* line 36, ../sass/screen.scss */
.client-face-3 {
  background-position: 0 -188px;
  width: 90px;
  height: 90px;
}

/* line 37, ../sass/screen.scss */
.how-it-works {
  background-position: 0 -397px;
  width: 453px;
  height: 193px;
}

/* line 38, ../sass/screen.scss */
.icon-payment-types {
  background-position: 0 -624px;
  width: 181px;
  height: 32px;
}

/* line 39, ../sass/screen.scss */
.lo-1 {
  background-position: 0 -689px;
  width: 186px;
  height: 107px;
}

/* line 40, ../sass/screen.scss */
.lo-2 {
  background-position: 0 -800px;
  width: 186px;
  height: 107px;
}

/* line 41, ../sass/screen.scss */
.lo-3 {
  background-position: 0 -911px;
  width: 186px;
  height: 107px;
}

/* line 42, ../sass/screen.scss */
.lo-4 {
  background-position: 0 -1022px;
  width: 186px;
  height: 107px;
}

/* line 43, ../sass/screen.scss */
.lo-5 {
  background-position: 0 -1133px;
  width: 186px;
  height: 106px;
}

/* line 44, ../sass/screen.scss */
.lo-6 {
  background-position: 0 -1243px;
  width: 186px;
  height: 107px;
}

/* line 45, ../sass/screen.scss */
.lo-7 {
  background-position: 0 -1354px;
  width: 236px;
  height: 116px;
}

/* line 48, ../sass/screen.scss */
b {
  font-weight: bold;
}

/* line 52, ../sass/screen.scss */
body {
  background-size: cover;
}
/* line 54, ../sass/screen.scss */
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Lato, "Times New Roman";
}
/* line 60, ../sass/screen.scss */
body .centered,
body main,
body #stuff {
  max-width: 920px;
  margin: auto;
}
/* line 65, ../sass/screen.scss */
body #container {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
}
/* line 20, ../sass/screen.scss */
body #container:after {
  content: "";
}
/* line 68, ../sass/screen.scss */
body #container #top {
  background: url(../images/landing-photo.jpg) no-repeat center;
  min-height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}
/* line 75, ../sass/screen.scss */
body #container #top header nav {
  background-color: #0f1128;
  overflow: hidden;
  *zoom: 1;
}
/* line 78, ../sass/screen.scss */
body #container #top header nav #logo {
  background: url(../images/logo.png) no-repeat top left;
  float: left;
  height: 20px;
  margin: 19px auto 13px;
  width: 203px;
}
/* line 84, ../sass/screen.scss */
body #container #top header nav #logo a {
  visibility: hidden;
}
/* line 88, ../sass/screen.scss */
body #container #top header nav menu {
  float: right;
  margin-right: 7px;
}
/* line 91, ../sass/screen.scss */
body #container #top header nav menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 23px auto 12px;
}
/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #container #top header nav menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: right;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 48, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #container #top header nav menu ul li:first-child, body #container #top header nav menu ul li.first {
  padding-right: 0;
}
/* line 49, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #container #top header nav menu ul li:last-child {
  padding-left: 0;
}
/* line 50, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body #container #top header nav menu ul li.last {
  padding-left: 0;
}
/* line 94, ../sass/screen.scss */
body #container #top header nav menu ul li {
  line-height: 15px;
  padding: 0;
  margin: auto 11.5px;
}
/* line 98, ../sass/screen.scss */
body #container #top header nav menu ul li a {
  color: white;
  font-size: 0.9375em;
  opacity: 0.8;
  text-decoration: none;
}
/* line 110, ../sass/screen.scss */
body #container #top main section {
  display: inline;
  float: left;
}
/* line 112, ../sass/screen.scss */
body #container #top main section#guarantee-badge {
  background: url(../images/pic.png) no-repeat top left;
  background-position: 0 -282px;
  width: 139px;
  height: 111px;
  display: inline;
  float: right;
}
/* line 117, ../sass/screen.scss */
body #container #top main section#advokats {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
}
/* line 20, ../sass/screen.scss */
body #container #top main section#advokats:after {
  content: "";
}
/* line 121, ../sass/screen.scss */
body #container #top main section#advokats div#dossier {
  display: inline;
  float: left;
  margin-left: 125px;
}
/* line 130, ../sass/screen.scss */
body #container #top main ul[class^="icon-"] li {
  background: url(../images/pic.png) no-repeat top left;
  line-height: 27px;
  margin: 8px auto;
  padding-left: 37px;
}
/* line 138, ../sass/screen.scss */
body #container #top main ul.icon-ok li {
  background-position: 0 -594px;
}
/* line 143, ../sass/screen.scss */
body #container #top main ul.icon-x li {
  background-position: 0 -660px;
  width: 25px;
  height: 25px;
}
/* line 152, ../sass/screen.scss */
body #container #content {
  background-color: #0f1128;
  position: absolute;
  top: 100%;
  width: 100%;
}
/* line 157, ../sass/screen.scss */
body #container #content #stuff {
  color: white;
}
