@charset "IBM866";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* inc lists */
/* inc clearfix */
/* reserved */
/* line 61, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* variables */
/* mixins, Baby! */
/* classic, yep */
/* Основной тёмно-синий фон (нижняя часть страницы. Меню (немного отличается(?))) */
/* Стандартная зелёная "кнопка "*/
/* Спрайт */
/* добавить отступы в мобильном режиме */
/*	common classes */
/* line 71, ../sass/screen.scss */
.client-face-1 {
  background-position: 0 0;
  width: 90px;
  height: 90px;
}

/* line 72, ../sass/screen.scss */
.client-face-2 {
  background-position: 0 -94px;
  width: 90px;
  height: 90px;
}

/* line 73, ../sass/screen.scss */
.client-face-3 {
  background-position: 0 -188px;
  width: 90px;
  height: 90px;
}

/* line 74, ../sass/screen.scss */
.how-it-works {
  background-position: 0 -397px;
  width: 453px;
  height: 193px;
}

/* line 75, ../sass/screen.scss */
.cards {
  background: url(../images/pic.png) no-repeat top left;
  background-position: 0 -624px;
  width: 181px;
  height: 32px;
}

/*	Адвокатские лица в спрайте; законсервированы :) 
.lo-1{ background-position: 0 -689px; width: 186px; height: 107px; } 
.lo-2{ background-position: 0 -800px; width: 186px; height: 107px; } 
.lo-3{ background-position: 0 -911px; width: 186px; height: 107px; } 
.lo-4{ background-position: 0 -1022px; width: 186px; height: 107px; } 
.lo-5{ background-position: 0 -1133px; width: 186px; height: 106px; } 
.lo-6{ background-position: 0 -1243px; width: 186px; height: 107px; } 
.lo-7{ background-position: 0 -1354px; width: 236px; height: 116px; } */
/* line 88, ../sass/screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
}
/* line 34, ../sass/screen.scss */
.clearfix:after {
  content: "";
}

/* line 91, ../sass/screen.scss */
.corner {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 94, ../sass/screen.scss */
.pointer_down {
  background: url(../images/icon-down.png) no-repeat;
  height: 26px;
  margin: 14px auto !important;
  width: 26px;
}

/* line 100, ../sass/screen.scss */
.header2 {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 3em;
}

/* line 105, ../sass/screen.scss */
.middle {
  margin: auto;
  max-width: 780px;
}

/* line 109, ../sass/screen.scss */
.wide {
  margin: auto;
  max-width: 920px;
}

/* redefine tags */
/* line 115, ../sass/screen.scss */
b, strong {
  font-weight: bold;
}

/* line 117, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 119, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 121, ../sass/screen.scss */
body {
  background-size: cover;
}
/* line 123, ../sass/screen.scss */
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

/* line 129, ../sass/screen.scss */
section {
  display: inline;
  float: left;
}
/* line 131, ../sass/screen.scss */
#stuff section {
  width: 50%;
}

/*	Дочерний для <body>, чтобы позиционировать относительно него */
/* line 137, ../sass/screen.scss */
#content {
  background-color: #0f1128;
  min-height: 100%;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;
}
/* line 146, ../sass/screen.scss */
#content > div:last-child.wide {
  color: white;
  padding-bottom: 80px;
}
/* line 149, ../sass/screen.scss */
#content > div:last-child.wide section {
  color: white;
  font-size: 1.1875em;
  width: 33.33%;
}
/* line 153, ../sass/screen.scss */
#content > div:last-child.wide section h4 {
  font-size: 33px;
  font-weight: bold;
  margin: 35px auto 36px;
}
/* line 158, ../sass/screen.scss */
#content > div:last-child.wide section .cards {
  margin-top: 24px;
}
/* line 161, ../sass/screen.scss */
#content > div:last-child.wide section form {
  display: inline;
  float: right;
  padding: 0 2px;
}
/* line 164, ../sass/screen.scss */
#content > div:last-child.wide section form button {
  background-color: #5fb00d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #4c8f09;
  box-shadow: 1px 1px 3px 0 #666;
  color: white;
  display: block;
  margin-top: 4px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  width: auto;
  font-size: 16px;
  width: 94px;
}
/* line 57, ../sass/screen.scss */
#content > div:last-child.wide section form button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5fb00d), color-stop(100%, #69c30e));
  background-image: -webkit-linear-gradient(#5fb00d, #69c30e);
  background-image: -moz-linear-gradient(#5fb00d, #69c30e);
  background-image: -o-linear-gradient(#5fb00d, #69c30e);
  background-image: linear-gradient(#5fb00d, #69c30e);
}
/* line 168, ../sass/screen.scss */
#content > div:last-child.wide section form button:hover {
  cursor: pointer;
}
/* line 172, ../sass/screen.scss */
#content > div:last-child.wide section form input[type="text"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 17px;
  padding: 10px;
  width: 100%;
}
/* line 180, ../sass/screen.scss */
#content > div:last-child.wide #bottom_logo {
  display: block;
  clear: both;
  font-size: 1.75em;
  letter-spacing: 2.5px;
  padding-top: 66px;
  text-transform: uppercase;
}
/* line 188, ../sass/screen.scss */
#content > div:last-child.wide menu {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
  margin-right: 7px;
  margin-top: 19px;
}
/* line 34, ../sass/screen.scss */
#content > div:last-child.wide menu:after {
  content: "";
}
/* line 192, ../sass/screen.scss */
#content > div:last-child.wide menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  list-style-type: none;
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
  margin: 21px auto 12px;
}
/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content > div:last-child.wide menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: right;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 48, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content > div:last-child.wide menu ul li:first-child, #content > div:last-child.wide menu ul li.first {
  padding-right: 0;
}
/* line 49, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content > div:last-child.wide menu ul li:last-child {
  padding-left: 0;
}
/* line 50, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content > div:last-child.wide menu ul li.last {
  padding-left: 0;
}
/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#content > div:last-child.wide menu ul, #content > div:last-child.wide menu ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 29, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#content > div:last-child.wide menu ul li:after {
  content: " | ";
}
/* line 31, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#content > div:last-child.wide menu ul li:last-child:after {
  content: "";
}
/* line 34, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-list.scss */
#content > div:last-child.wide menu ul li.last:after {
  content: "";
}
/* line 34, ../sass/screen.scss */
#content > div:last-child.wide menu ul:after {
  content: "";
}
/* line 197, ../sass/screen.scss */
#content > div:last-child.wide menu ul li {
  display: inline;
  float: left;
  font-size: 1.375em;
  font-weight: 100;
  line-height: 17px;
  margin: auto 4px auto 4px;
}
/* line 203, ../sass/screen.scss */
#content > div:last-child.wide menu ul li:first-child {
  margin-left: -2px;
}
/* line 206, ../sass/screen.scss */
#content > div:last-child.wide menu ul li a {
  color: white;
  font-size: 0.9375em;
  font-weight: 100;
  margin-right: 4px;
  opacity: 0.8;
  text-decoration: none;
}
/* line 220, ../sass/screen.scss */
#content .clearfix {
  text-align: center;
}
/* line 223, ../sass/screen.scss */
#content .clearfix p.middle {
  color: white;
  margin-bottom: 10px;
  margin-top: 13px;
  text-align: left;
}
/* line 230, ../sass/screen.scss */
#content .clearfix a {
  background-color: #5fb00d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #4c8f09;
  box-shadow: 1px 1px 3px 0 #666;
  color: white;
  display: block;
  margin-top: 18px;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  width: auto;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 57, ../sass/screen.scss */
#content .clearfix a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5fb00d), color-stop(100%, #69c30e));
  background-image: -webkit-linear-gradient(#5fb00d, #69c30e);
  background-image: -moz-linear-gradient(#5fb00d, #69c30e);
  background-image: -o-linear-gradient(#5fb00d, #69c30e);
  background-image: linear-gradient(#5fb00d, #69c30e);
}

/* внутри #content: */
/* line 237, ../sass/screen.scss */
#stuff {
  color: white;
  padding: 80px 0;
}
/* line 241, ../sass/screen.scss */
#stuff > h2.header2 {
  margin-bottom: -18px;
  margin-top: -36px;
}
/* line 244, ../sass/screen.scss */
#stuff > h2.header2 + p {
  margin-bottom: 5px;
}
/* line 249, ../sass/screen.scss */
#stuff section {
  padding-right: 10px;
  width: 50%;
}
/* line 252, ../sass/screen.scss */
#stuff section .header2 {
  font-size: 1.625em;
  padding-bottom: 10px;
}
/* line 256, ../sass/screen.scss */
#stuff section ul {
  margin-top: -19px;
}

/*---------------------------------------*/
/* line 262, ../sass/screen.scss */
#top {
  min-height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
/* line 268, ../sass/screen.scss */
#top header #top_middle {
  margin: 3px auto -33px;
}
/* line 271, ../sass/screen.scss */
#top header nav {
  background-color: #0f1128;
  overflow: hidden;
  *zoom: 1;
}
/* line 274, ../sass/screen.scss */
#top header nav #logo {
  background: url(../images/logo.png) no-repeat top left;
  display: inline;
  float: left;
  height: 20px;
  margin: 19px auto 12px;
  width: 203px;
}
/* line 280, ../sass/screen.scss */
#top header nav #logo a {
  visibility: hidden;
}
/* line 284, ../sass/screen.scss */
#top header nav #mobile_search {
  display: none;
  clear: both;
  box-sizing: border-box !important;
  padding-bottom: 10px;
}
/* line 289, ../sass/screen.scss */
#top header nav #mobile_search input[type="text"] {
  border: solid 1px #eaeaea;
  border-radius: 6px;
  box-sizing: border-box !important;
  height: 44px;
  padding: 10px;
  width: 100%;
}
/* line 298, ../sass/screen.scss */
#top header nav menu {
  display: inline;
  float: right;
  margin-right: 7px;
}
/* line 301, ../sass/screen.scss */
#top header nav menu ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 21px auto 12px;
}
/* line 60, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#top header nav menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: right;
  padding-left: 7px;
  padding-right: 7px;
}
/* line 48, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#top header nav menu ul li:first-child, #top header nav menu ul li.first {
  padding-right: 0;
}
/* line 49, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#top header nav menu ul li:last-child {
  padding-left: 0;
}
/* line 50, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#top header nav menu ul li.last {
  padding-left: 0;
}
/* line 304, ../sass/screen.scss */
#top header nav menu ul li {
  line-height: 17px;
  padding: 0;
  margin: auto 11.5px;
}
/* line 308, ../sass/screen.scss */
#top header nav menu ul li a {
  color: white;
  font-size: 0.91em;
  opacity: 0.8;
  text-decoration: none;
}
/* line 313, ../sass/screen.scss */
#top header nav menu ul li a:hover {
  opacity: 1;
}
/* line 322, ../sass/screen.scss */
#top main {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
}
/* line 34, ../sass/screen.scss */
#top main:after {
  content: "";
}
/* line 324, ../sass/screen.scss */
#top main section {
  margin-top: 18px;
}
/* line 326, ../sass/screen.scss */
#top main section#guarantee-badge {
  display: inline;
  float: right;
  margin: 19px 2px;
  width: 195px;
}
/* line 330, ../sass/screen.scss */
#top main section#guarantee-badge .pseudolink {
  background: url(../images/pic.png) no-repeat top left;
  background-position: 0 -282px;
  height: 112px;
  margin: 10px auto;
  width: 140px;
}
/* line 338, ../sass/screen.scss */
#top main section#guarantee-badge a:last-child {
  background-color: #5fb00d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #4c8f09;
  box-shadow: 1px 1px 3px 0 #666;
  color: white;
  display: block;
  margin-top: 18px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* line 57, ../sass/screen.scss */
#top main section#guarantee-badge a:last-child:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5fb00d), color-stop(100%, #69c30e));
  background-image: -webkit-linear-gradient(#5fb00d, #69c30e);
  background-image: -moz-linear-gradient(#5fb00d, #69c30e);
  background-image: -o-linear-gradient(#5fb00d, #69c30e);
  background-image: linear-gradient(#5fb00d, #69c30e);
}
/* line 343, ../sass/screen.scss */
#top main section#advokats {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
  margin-top: 10px;
  width: 100%;
}
/* line 34, ../sass/screen.scss */
#top main section#advokats:after {
  content: "";
}
/* line 348, ../sass/screen.scss */
#top main section#advokats div#adv {
  display: inline;
  float: left;
  width: 100px;
}
/* line 352, ../sass/screen.scss */
#top main section#advokats div#adv img:first-child {
  margin-left: 5px;
  display: inline;
  float: left;
}
/* line 357, ../sass/screen.scss */
#top main section#advokats div#adv p {
  line-height: 20px;
  opacity: 0.8;
  text-align: center;
}
/* line 363, ../sass/screen.scss */
#top main section#advokats div#dossier {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline;
  float: right;
  background-color: white;
  max-width: 641px;
  padding: 20px;
  position: relative;
}
/* line 370, ../sass/screen.scss */
#top main section#advokats div#dossier .crn_wrapper {
  height: 20px;
  left: -20px;
  position: absolute;
  top: 20px;
  width: 20px;
  overflow: hidden;
}
/* line 377, ../sass/screen.scss */
#top main section#advokats div#dossier .crn_wrapper .corner {
  background: white;
  height: 24px;
  width: 24px;
  margin-top: -12px;
  margin-left: 8px;
}
/* line 386, ../sass/screen.scss */
#top main section#advokats div#slides_indicators {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
  padding: 12px 17.5px;
}
/* line 34, ../sass/screen.scss */
#top main section#advokats div#slides_indicators:after {
  content: "";
}
/* line 389, ../sass/screen.scss */
#top main section#advokats div#slides_indicators div {
  background-color: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline;
  float: left;
  height: 15px;
  margin-right: 10px;
  width: 15px;
}
/* line 396, ../sass/screen.scss */
#top main section#advokats div#slides_indicators div.active {
  background-color: #0f1128;
}
/* line 405, ../sass/screen.scss */
#top #scroll_down {
  bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 410, ../sass/screen.scss */
#top #scroll_down div {
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;
}
/* line 415, ../sass/screen.scss */
#top #scroll_down:hover {
  cursor: pointer;
}

/* line 420, ../sass/screen.scss */
#bg_container {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  display: block;
  background: url(../images/landing-photo.jpg) no-repeat center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}
/* line 34, ../sass/screen.scss */
#bg_container:after {
  content: "";
}

/* line 428, ../sass/screen.scss */
ul#ok_left {
  margin-top: -5px;
}
/* line 432, ../sass/screen.scss */
ul[class^="icon-"] li {
  font-size: 1.125em;
  font-weight: bold;
  line-height: 28px;
  margin: 12px auto;
}
/* line 438, ../sass/screen.scss */
ul[class^="icon-"] li span:first-child {
  background: url(../images/pic.png) no-repeat top left;
  height: 32px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: -3px;
  width: 36px;
}
/* line 450, ../sass/screen.scss */
ul.icon-ok li span[ok] {
  background-position: 0 -592px;
}
/* line 457, ../sass/screen.scss */
ul.icon-x li span[x] {
  background-position: 0 -657px;
}

/* media queries */
/* tablet */
@media (max-width: 800px) {
  /* line 467, ../sass/screen.scss */
  #mobile_search {
    display: block !important;
  }

  /* line 470, ../sass/screen.scss */
  #menu_top {
    display: none;
  }

  /* line 473, ../sass/screen.scss */
  nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px 0 12px !important;
  }

  /* line 479, ../sass/screen.scss */
  #top_header_box,
  main,
  #stuff,
  #txt_placeholder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px 0 30px !important;
  }

  /* line 482, ../sass/screen.scss */
  #top {
    overflow: hidden;
    *zoom: 1;
    clear: both;
    display: block;
    position: inherit;
    background: url(../images/landing-photo.jpg) no-repeat left;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  /* line 34, ../sass/screen.scss */
  #top:after {
    content: "";
  }

  /* line 487, ../sass/screen.scss */
  #stuff {
    padding-bottom: 80px !important;
  }
  /* line 489, ../sass/screen.scss */
  #stuff > h2.header2 {
    font-size: 2.75em;
  }
  /* line 492, ../sass/screen.scss */
  #stuff section {
    margin-top: -42px;
    font-size: 1.125em;
  }
  /* line 495, ../sass/screen.scss */
  #stuff section h2 {
    margin-top: 52px !important;
  }

  /* line 500, ../sass/screen.scss */
  #top_middle {
    line-height: 1.3em !important;
    font-size: 40px !important;
    margin-bottom: 0px !important;
    margin-top: 0.5em !important;
  }

  /* line 506, ../sass/screen.scss */
  #guarantee-badge {
    display: block !important;
    clear: both !important;
    width: 100% !important;
  }

  /* line 511, ../sass/screen.scss */
  #advokats {
    min-height: 230px;
    position: relative;
  }

  /* line 515, ../sass/screen.scss */
  #adv {
    float: right !important;
    margin-right: 50px;
    margin-top: -15px;
  }
  /* line 519, ../sass/screen.scss */
  #adv > img {
    float: none;
  }

  /* line 523, ../sass/screen.scss */
  #dossier {
    max-width: 100% !important;
    position: initial !important;
  }
  /* line 526, ../sass/screen.scss */
  #dossier .crn_wrapper {
    display: none;
  }

  /* line 530, ../sass/screen.scss */
  #slides_indicators {
    clear: left !important;
    width: 200px;
    white-space: nowrap;
  }

  /* line 535, ../sass/screen.scss */
  #scroll_down {
    display: none;
  }

  /* line 538, ../sass/screen.scss */
  #bg_container {
    display: none;
  }

  /* line 541, ../sass/screen.scss */
  #content {
    position: relative;
    top: 36px !important;
  }

  /* line 545, ../sass/screen.scss */
  #backward {
    /* т.к. оступ сверху трогать не надо в данном случае */
    padding-left: 30px;
    padding-right: 30px;
  }
  /* line 549, ../sass/screen.scss */
  #backward section {
    width: 100% !important;
  }
  /* line 552, ../sass/screen.scss */
  #backward section#feedback h4 {
    text-align: left !important;
  }
  /* line 555, ../sass/screen.scss */
  #backward section#feedback form {
    float: none !important;
  }

  /* line 562, ../sass/screen.scss */
  ul.icon-x span {
    background-position: 0 -656px !important;
  }
}
/* phone */
@media (max-width: 480px) {
  /* line 570, ../sass/screen.scss */
  #stuff h2.header2 {
    font-size: 1.875em;
  }
  /* line 573, ../sass/screen.scss */
  #stuff section {
    width: 100% !important;
  }
  /* line 575, ../sass/screen.scss */
  #stuff section h2.header2 {
    font-size: 1.375em;
  }

  /* line 580, ../sass/screen.scss */
  #bottom_logo {
    padding-top: 0 !important;
  }
}
